body{
  margin: 0;
  padding: 0;
}

.app-default {
  display: grid;
  justify-content: center;
  margin: 0; 
  text-align: center;
  background-color: #202020;
  height: calc(100vh - 40px - 500px);
  width: calc(100vw );
  padding-top: 40px;
  padding-bottom: 500px;

}


.app-default #perfil {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 auto;
  background-color: #3c3c3c;
  overflow: hidden;
}

#svg{
  position: relative;
  top: 10px;
}

.app-default #svg:first-child{
  fill: #0344f8;
}

.app-default p{
  color: white;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 50px;

}

.app-default .bx-brush{
  color: rgba(255, 255, 255, 0.322);
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;

}

.app-default .bx-brush::after{
  content: 'Temas';
  color: #969696;
  font-size: 15px !important;
  position: absolute;
  right: -5px;
  top: 23px;
  font-size: 25px;
}

.app-default .bx-brush:hover::after{
  color: #ffffff;
}

.app-default #theme:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
  

}


.app-default p:last-of-type {
  color: #2f2f2f;
  font-size: 12px;
  margin-top: 30px;

}


.app-default .link-card {
  padding: 10px;
  margin: 20px;
  width: 40vw;
  height: 40px;
  background-color: #2d2d2d;
  display: grid;
  cursor: pointer;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 6px 6px 12px #202020, -6px -6px 12px #3c3c3c;
  box-shadow: 6px 6px 12px #202020, -6px -6px 12px #3c3c3c;
}

.app-default .link-card:hover {
  transform: translate(0, -5px);
}

.app-default .link-card a {
  text-decoration: none;
  color: aliceblue;
  grid-area: 1 / 2 / 2 / 3;
  text-align: start;
  margin-left: 80px;
  align-self: center; 
  min-width: 180px;

  
}

.app-default .link-card span i {
  font-size: 30px;
  grid-area: 1 / 1 / 2 / 2;
  border-left: 40px;
  color:#0344f8;

}

.app-default .menu-theme {
  width: 150px;
  background-color: #3c3c3c;
  height: auto;
  position: absolute;
  right: 20px;
  top: 70px;
  border-radius: 7px;
  color: white;
}

.app-default .menu-theme::after {
  content: '';
  width: 20px;
  background-color: #3c3c3c;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  top: -5px;
  right: 5px;

}

.app-default .menu-theme ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-default .menu-theme ul li:first-child {
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;

}

.app-default .menu-theme ul li {
  width: 136px;
  height: 50%;
  border-bottom: 1px solid #202020;
  position: relative;
  list-style: none;
  display: grid;       
  align-items: center; 
  cursor: pointer;
  padding: 7px;
  color: rgb(194, 194, 194);
  font-size: 15px;

}

.app-default .menu-theme ul li:hover {
  color: white;
}



@media screen and (max-width: 960px) {
  .app-default .link-card {
    width: 80vw; 
  }

  .app-default .link-card a {
    margin-left: -20px; 
    text-align: center;

  }

  .app-default .link-card span i {
    border-left: 10px; 
  }
}

@media screen and (max-width: 460px) {

  .app-default .link-card{
    height: 40px;
  }

  .app-default .link-card a {
    text-align: left;
    margin-left: 20px;
    max-width: 170px;
    overflow-wrap: break-word; 
  }

  .app-default .app-default {
    
    height: calc(100vh - 400px);

  
  }
  

}

@media screen and (max-width: 293px) {

  

  .app-default .link-card a {
    min-width: 100px;

  }

}


@media screen and (max-width: 245px) {

  .app-default .link-card{
    height: 70px;
  }

  .app-default .link-card a {
    text-align: left;
    margin-left: 20px;
    max-width: 170px;
    overflow-wrap: break-word; 
  }

  .app-default .link-card span i {
    border-top: 15px;
  }

}

