body{
  background-color: #202020;
}


.app {
  display: grid;
  justify-content: center;
  margin: 0; 
  text-align: center;
  margin-top: 40px;

}


#perfil {
  border-radius: 10px;
  width: 70px;
  display: block;
  margin: 0 auto; /* Define as margens esquerda e direita como 'auto' para centralizar horizontalmente */
}

.app p{
  color: white;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 50px;

}



.app p:last-of-type {
  color: #2f2f2f;
  font-size: 12px;
  margin-top: 30px;

}


.link-card {
  padding: 10px;
  margin: 20px;
  width: 40vw;
  background-color: #2d2d2d;
  display: grid;
  cursor: pointer;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 6px 6px 12px #202020, -6px -6px 12px #3c3c3c;
  box-shadow: 6px 6px 12px #202020, -6px -6px 12px #3c3c3c;
}

.link-card:hover {
  transform: translate(0, -5px);
}

.link-card a {
  text-decoration: none;
  color: aliceblue;
  grid-area: 1 / 2 / 2 / 3;
  text-align: start;
  margin-left: 80px;
  align-self: center; 
  min-width: 180px;

  
}

.link-card img {
  width: 30px;
  height: 30px;
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 40px;
}


@media screen and (max-width: 960px) {
  .link-card {
    width: 80vw; 
  }

  .link-card a {
    margin-left: -20px; 
    text-align: center;

  }

  .link-card img {
    margin-left: 10px; 
  }
}

@media screen and (max-width: 460px) {

  .link-card{
    height: 40px;
  }

  .link-card a {
    text-align: left;
    margin-left: 20px;
    max-width: 170px;
    overflow-wrap: break-word; 
  }

}

@media screen and (max-width: 293px) {

  

  .link-card a {
    min-width: 100px;

  }

}


@media screen and (max-width: 245px) {

  .link-card{
    height: 70px;
  }

  .link-card a {
    text-align: left;
    margin-left: 20px;
    max-width: 170px;
    overflow-wrap: break-word; 
  }

  .link-card img {
    margin-top: 15px;
  }

}

